:root {
    --cell-length: 40px;
    --border-default: 3px solid rgb(121, 121, 121);
    --border-selected: 3px solid rgb(0, 163, 22);
    --border-radius-default: 5px;
    --bgc1: rgb(14, 15, 87);
    --bgc2: rgb(21, 23, 134);
    --text-color: rgb(206, 205, 205);
}

* {
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((var(--cell-length) * 9) + 6px);
    height: calc((var(--cell-length) * 9) + 6px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: var(--border-default);
    color: var(--text-color);
    font-weight: bold;
    border-radius: var(--border-radius-default);
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--cell-length) * 3);
    height: calc(var(--cell-length) * 3);
}

.bg1 {
    background-color: var(--bgc1);
}

.bg2 {
    background-color: var(--bgc2);
}

.cell {
  width: var(--cell-length);
  border: var(--border-default);
  text-align: center;
  line-height: calc(var(--cell-length) - 6px);
  cursor: pointer;
}

.sel {
  border: var(--border-selected);
}