:root {
    --cell-length: 40px;
    --border-default: 2px solid rgb(134, 134, 134);
    --border-selected: 2px solid rgb(44, 26, 26);
    --border-radius-default: 5px;
    --text-color1: black;
    --text-color2: rgb(29, 29, 29);
    --highlight1: rgb(223, 223, 223);
    --highlight2: rgb(190, 190, 190);
    --cell-correct: blue;
    --cell-wrong: red;
}

* {
    box-sizing: border-box;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc((var(--cell-length) * 9) + 4px);
  min-width: calc((var(--cell-length) * 9) + 4px);
  height: calc((var(--cell-length) * 9) + 4px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: var(--border-default);
  color: var(--text-color2);
  font-weight: normal;
  font-family: Arial;
  font-size: 1.4em;
  border-radius: var(--border-radius-default);
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--cell-length) * 3);
    height: calc(var(--cell-length) * 3);
}

.cell {
  width: var(--cell-length);
  min-height: var(--cell-length);
  border: var(--border-default);
  text-align: center;
  line-height: calc(var(--cell-length) - 4px);
  cursor: pointer;
  border-radius: 0px;
}

.editable-correct {
  color: var(--cell-correct);
}

.editable-wrong {
  color: var(--cell-wrong);
}

.sel-correct {
  background-color: var(--cell-correct) !important;
  color: white !important;
  border: var(--border-selected);
}

.sel-wrong {
  background-color: var(--cell-wrong) !important;
  color: white !important;
  border: var(--border-selected);
}

.hlight1 {
  background-color: var(--highlight1);
}

.hlight2 {
  background-color: var(--highlight2);
}

.bdr-t {
  border-top-color: black !important;
}

.bdr-b {
  border-bottom-color: black !important;
}

.bdr-r {
  border-right-color: black !important;
}

.bdr-l {
  border-left-color: black !important;
}

.pulse-start {
  background-color: var(--highlight1) !important;
  /* transition: all .4s ease; */
}

.pulse-peak {
  background-color: rgb(255, 255, 209) !important;
  transition: all .2s ease;
}

.pulse-end {
  background-color: var(--highlight1) !important;
  transition: all .4s ease;
}

.cell-victory {
  animation: animate-cell infinite 8s linear;
  border: var(--border-default);
}

.cell-victory-alt1 {
  animation: animate-cell infinite 6s linear;
  border: var(--border-default);
}

.cell-victory-alt2 {
  animation: animate-cell infinite 4s linear;
  border: var(--border-default);
}

.cell-victory-alt3 {
  animation: animate-cell infinite 2s linear;
  border: var(--border-default);
}

@keyframes animate-cell {
  from {
    background-color: white;
    color: black;
  }

  50% {
    background-color: var(--highlight2);
  }

  to {
    background-color: white;
    color: black;
  }
}